<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
        <div style="margin:50px auto;width:70%;padding:20px 0">
          <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Blood Donation System</a>
          </div>
          <p style="font-size:1.1em">Hi {{object.name}},</p>
          <p style="font-size:0.9em">Please use the verification code below to login.</p>
          <h2 style="background: #00466a;margin: 0 50px;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{OTP}}</h2>
          <p style="font-size:0.9em">If you didn't request this,you can ignore this email.</p>
          <hr style="border:none;border-top:1px solid #eee" />
          <p style="font-size:0.9em;">Thanks,<br />BloodDonation System team</p>
        </div>
      </div>
</body>
</html>